<!DOCTYPE html>
<html>
<head>
  <title>ForMash</title>
  <%= stylesheet_link_tag    "for_mash/application", :media => "all" %>
  <%= javascript_include_tag "for_mash/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
